<mat-toolbar>
  <span>Moje żarcie</span>
  <a
    mat-button
    routerLink="/list"
    routerLinkActive="active-link"
    ariaCurrentWhenActive="page"
    >Lista elementów</a
  >
  <a
  mat-button
  routerLink="/add"
  routerLinkActive="active-link"
  ariaCurrentWhenActive="page"
  >Dodaj element</a
>
<a
  mat-button
  routerLink="/example"
  routerLinkActive="active-link"
  ariaCurrentWhenActive="page"
  >Przykładowa tabelka</a
>
  <span class="example-spacer"></span>
</mat-toolbar>

<div class="container">
  <router-outlet></router-outlet>
</div>
