<h1>Aplikacja SPA</h1>
<div class="container">
  <nav>
    <a class="link" routerLink="/first" 
    routerLinkActive="activeLink"
    ariaCurrentWhenActive="page"
      >Strona 1</a
    >
    <a class="link" routerLink="/second" 
    routerLinkActive="activeLink"
    ariaCurrentWhenActive="page"
      >Strona 2</a
    >
    <a class="link" routerLink="/third" 
    routerLinkActive="activeLink"
    ariaCurrentWhenActive="page"
      >Strona 3</a
    >
    <a class="link" routerLink="/nwd" 
    routerLinkActive="activeLink"
    ariaCurrentWhenActive="page"
      >NWD</a
    >
  </nav>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
