<h3>
    Dodaj nowy element
</h3>
<form (ngSubmit)="onSubmitForm()" [formGroup]="_itemForm">
    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Podaj nazwę produktu</mat-label>
            <input type="text" matInput formControlName="itemName">
          </mat-form-field>
    </div>

    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Podaj cenę produktu</mat-label>
            <input type="number" matInput formControlName="itemPrice">
            <mat-hint>W PLN</mat-hint>
          </mat-form-field>
    </div>
    <div class="row">
        
        <mat-form-field appearance="outline">
            <mat-label>Wybierz kategorię</mat-label>
           <mat-select formControlName="itemCategory">
            <mat-option *ngFor="let cat of categories" [value]="cat">{{cat}}</mat-option>
           </mat-select>      
          </mat-form-field>
    </div>
    <div class="flex-container">
        <button mat-raised-button type="submit" class="w-50 p-2" color="primary">Dodaj</button>
        <button mat-raised-button type="reset" class="w-50 p-2">Anuluj</button>
    </div>
</form>
