<p>nowy2023 works!</p>
<div>
    Dane osobowe: {{ firstname }} {{ lastname }}
</div>
<div>Lista osób:
    <ul>
        <li *ngFor="let u of users">{{ u }}</li>
    </ul>
</div>
<div>Tabelka użytkowników  </div>
<table class="m-3 table table-bordered">
    <tr>
        <th>Imię</th>
        <th>Nazwisko</th>
        <th>wiek</th>
    </tr>
    <tr *ngFor="let user of MyUsers">
        <td>{{ user.firstname}}</td>
        <td>{{ user.lastname}}</td>
        <td>{{ user.age}}</td>
    </tr>
</table>
